.section__header {
    background-color: rgb(255, 255, 255);
    margin-bottom: 2px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.section__title {
    font-size: 20px;
    margin: 0;
}

@media (max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}
