.form {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.form__newTask {
    padding: 10px;
    width: 600px;
    outline-color: rgb(215, 215, 215);
}

.form__button {
    padding: 10px;
    background-color: rgb(33, 114, 114);
    color: rgb(248, 241, 241);
    border: none;
    transition: 1s;
}

.form__button:hover {
    transform: scale(1.1);
    background-color:rgb(46, 145, 145);
}

@media(max-width: 767px) {
    .form {
        flex-wrap: wrap;
    }
}

@media(max-width: 767px) {
    .form__button {
        flex-grow: 1;
        margin-top: 10px;
    }
}

@media(max-width: 767px) {
    .form__newTask {
        flex-grow: 1;
    }
}